<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.ExpressCashMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.ExpressCash" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="delivery_company" property="deliveryCompany" jdbcType="VARCHAR" />
    <result column="delivery_cash" property="deliveryCash" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, delivery_cash, delivery_company, DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') update_time,
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from s_express_cash
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertExpressCash" parameterType="com.cj.shop.api.entity.ExpressCash" >
    insert into s_express_cash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deliveryCash != null" >
        delivery_cash,
      </if>
      <if test="deliveryCompany != null" >
          delivery_company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="deliveryCash != null" >
        #{deliveryCash},
      </if>
      <if test="deliveryCompany != null" >
        #{deliveryCompany},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE delivery_cash=#{deliveryCash}
  </insert>
</mapper>