<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.ExpressMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.Express" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="express_name" property="expressName" jdbcType="VARCHAR" />
    <result column="express_num" property="expressNum" jdbcType="VARCHAR" />
    <result column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="protect_flag" property="protectFlag" jdbcType="INTEGER" />
    <result column="express_date" property="expressString" jdbcType="VARCHAR" />
    <result column="express_status" property="expressStatus" jdbcType="TINYINT" />
    <result column="delivery_cash" property="deliveryCash" jdbcType="DECIMAL" />
    <result column="delivery_protect" property="deliveryProtect" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.ExpressWithBLOBs" extends="BaseResultMap" >
    <result column="express_desc" property="expressDesc" jdbcType="LONGVARCHAR" />
    <result column="properties" property="properties" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, order_num, express_name, express_num, addr_id, protect_flag, express_date, 
    express_status, delivery_cash, delivery_protect, delete_flag, update_time, create_time
  </sql>
  <sql id="Blob_Column_List" >
    express_desc, properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_express
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_express
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.cj.shop.api.entity.ExpressWithBLOBs" >
    insert into s_express
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="expressName != null" >
        express_name,
      </if>
      <if test="expressNum != null" >
        express_num,
      </if>
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="protectFlag != null" >
        protect_flag,
      </if>
      <if test="expressString != null" >
        express_date,
      </if>
      <if test="expressStatus != null" >
        express_status,
      </if>
      <if test="deliveryCash != null" >
        delivery_cash,
      </if>
      <if test="deliveryProtect != null" >
        delivery_protect,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="expressDesc != null" >
        express_desc,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressNum != null" >
        #{expressNum,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null" >
        #{addrId,jdbcType=BIGINT},
      </if>
      <if test="protectFlag != null" >
        #{protectFlag,jdbcType=INTEGER},
      </if>
      <if test="expressString != null" >
        #{expressString,jdbcType=VARCHAR},
      </if>
      <if test="expressStatus != null" >
        #{expressStatus,jdbcType=TINYINT},
      </if>
      <if test="deliveryCash != null" >
        #{deliveryCash,jdbcType=DECIMAL},
      </if>
      <if test="deliveryProtect != null" >
        #{deliveryProtect,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="expressDesc != null" >
        #{expressDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.ExpressWithBLOBs" >
    update s_express
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressNum != null" >
        express_num = #{expressNum,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null" >
        addr_id = #{addrId,jdbcType=BIGINT},
      </if>
      <if test="protectFlag != null" >
        protect_flag = #{protectFlag,jdbcType=INTEGER},
      </if>
      <if test="expressString != null" >
        express_date = #{expressString,jdbcType=VARCHAR},
      </if>
      <if test="expressStatus != null" >
        express_status = #{expressStatus,jdbcType=TINYINT},
      </if>
      <if test="deliveryCash != null" >
        delivery_cash = #{deliveryCash,jdbcType=DECIMAL},
      </if>
      <if test="deliveryProtect != null" >
        delivery_protect = #{deliveryProtect,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="expressDesc != null" >
        express_desc = #{expressDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>