<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.GoodsUnitMapper">
    <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.GoodsUnit">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="sort_flag" property="sortFlag" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.GoodsUnit" extends="BaseResultMap">
        <result column="properties" property="properties" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, unit_name, delete_flag,DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time, DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time, sort_flag
    </sql>
    <sql id="Blob_Column_List">
    properties
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from s_goods_unit
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_goods_unit
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.cj.shop.api.entity.GoodsUnit" useGeneratedKeys="true"
            keyProperty="id">
        insert into s_goods_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unitName != null">
                unit_name,
            </if>
            <if test="sortFlag != null">
                sort_flag,
            </if>
            <if test="properties != null">
                properties,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unitName != null">
                #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="sortFlag != null">
                #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                #{properties,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.GoodsUnit">
        update s_goods_unit
        <set>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="sortFlag != null">
                sort_flag = #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                properties = #{properties,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>