<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.GoodsStockMapper">
    <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.GoodsStock">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="s_goods_sn" property="sGoodsSn" jdbcType="VARCHAR"/>
        <result column="spec_id_list" property="specIdList" jdbcType="VARCHAR"/>
        <result column="stock_num" property="stockNum" jdbcType="INTEGER"/>
        <result column="sale_flag" property="saleFlag" jdbcType="INTEGER"/>
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
        <result column="sell_price" property="sellPrice" jdbcType="DECIMAL"/>
        <result column="warn_ratio" property="warnRatio" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="warn_stock_num" property="warnStockNum" jdbcType="INTEGER"/>
        <result column="warn_stock" property="warnStock" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="sort_flag" property="sortFlag" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.GoodsStock" extends="BaseResultMap">
        <result column="properties" property="properties" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, goods_sn, s_goods_sn, spec_id_list, stock_num, cost_price, sell_price, warn_ratio, weight,warn_stock_num, warn_stock, delete_flag,
    DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time, DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time, sort_flag
  </sql>
    <sql id="Blob_Column_List">
    properties
  </sql>

    <delete id="deleteByGoodsSn" parameterType="String">
        delete from s_goods_stock
        where goods_sn = #{goodsSn}
    </delete>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from s_goods_stock
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByGoodsTypeIds" resultType="Long"
            parameterType="com.cj.shop.api.param.select.StockSelect">
        select
        t1.id as stockId
        from s_goods_stock t1
        left join s_goods t2 on t1.goods_sn = t2.goods_sn
        <where>
            1=1
            <if test="goodSn != null">
                and t1.goods_sn = #{goodSn}
            </if>
            <if test="sGoodSn != null">
                and t1.s_goods_sn=#{sGoodSn}
            </if>
            <if test='type == "exist"'>
                and t1.delete_flag = 0
            </if>
        </where>
        <if test="sortType == 1">
            order by t1.stock_num asc, t1.sort_flag desc
        </if>
        <if test="sortType == 2">
            order by t1.stock_num desc, t1.sort_flag desc
        </if>
    </select>


    <select id="selectByGoodsType" resultType="com.cj.shop.api.response.dto.GoodsStockDto"
            parameterType="Long">
        select
        t1.id as stockId,
        t1.goods_sn as goodsSn,
        t1.s_goods_sn as sGoodsSn,
        t2.id as goodsId,
        t2.goods_name as goodsName,
        t2.preview_img as previewImg,
        t2.supply_id as supplyId,
        t1.spec_id_list as specIdList,
        t1.cost_price as costPrice,
        t1.sell_price as sellPrice,
        t1.weight,
        t1.sale_flag as saleFlag,
        t1.warn_ratio as warnRatio,
        t1.stock_num as stockNum,
        t1.warn_stock_num as warnStockNum,
        t1.warn_stock as warnStock,
        t1.delete_flag as deleteFlag,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') as updateTime,
        DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        t1.sort_flag as sortFlag,
        t1.properties
        from s_goods_stock t1
        left join s_goods t2 on t1.goods_sn = t2.goods_sn
        <where>
            1=1
            <if test="id !=null">
                and t1.id = #{id}
            </if>
        </where>
    </select>

    <select id="selectBySgoodId" resultType="com.cj.shop.api.response.dto.GoodsStockDto"
            parameterType="String">
        select
        t1.id as stockId,
        t1.goods_sn as goodsSn,
        t1.s_goods_sn as sGoodsSn,
        t2.id as goodsId,
        t2.supply_id as supplyId,
        t2.goods_name as goodsName,
        t2.preview_img as previewImg,
        t1.spec_id_list as specIdList,
        t1.cost_price as costPrice,
        t1.sell_price as sellPrice,
        t1.weight,
        t1.warn_ratio as warnRatio,
        t1.stock_num as stockNum,
        t1.warn_stock_num as warnStockNum,
        t1.warn_stock as warnStock,
        t1.delete_flag as deleteFlag,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') as updateTime,
        DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        t1.sort_flag as sortFlag,
        t1.properties
        from s_goods_stock t1
        left join s_goods t2 on t1.goods_sn = t2.goods_sn
        <where>
            1=1
            <if test="sid !=null">
                and t1.s_goods_sn = #{sid}
            </if>
        </where>
    </select>

    <delete id="deleteBySgoodId" parameterType="String">
        delete from s_goods_stock
        <where>
            s_goods_sn = #{sid}
        </where>
    </delete>

    <select id="getTotalStockNum" parameterType="String" resultType="Integer">
        select sum(stock_num)
        from s_goods_stock
        where goods_sn = #{goodSn}
        group by goods_sn
    </select>

    <select id="getPriceLimit" parameterType="String" resultType="com.cj.shop.api.response.PriceLimit">
        select
         min(cost_price) as minCostPrice,
         max(cost_price) as maxCostPrice,
         min(sell_price) as minSellPrice,
         max(sell_price) as maxSellPrice
        from s_goods_stock
        where goods_sn = #{goodSn}
        group by goods_sn
    </select>

    <update id="updateGoodsStock">
        update
        s_goods_stock SET
        <if test="type == 1">
            stock_num = stock_num+#{nums}
        </if>
        <if test="type == 2">
            stock_num = stock_num-#{nums}
        </if>
        where s_goods_sn = #{sGoodsSn}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_goods_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.cj.shop.api.entity.GoodsStock" useGeneratedKeys="true"
            keyProperty="id">
        insert into s_goods_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="sGoodsSn != null">
                s_goods_sn,
            </if>
            <if test="specIdList != null">
                spec_id_list,
            </if>
            <if test="saleFlag != null">
                sale_flag,
            </if>
            <if test="stockNum != null">
                stock_num,
            </if>
            <if test="warnStockNum != null">
                warn_stock_num,
            </if>
            <if test="costPrice != null">
                cost_price,
            </if>
            <if test="sellPrice != null">
                sell_price,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="warnRatio != null">
                warn_ratio,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="sortFlag != null">
                sort_flag,
            </if>
            <if test="properties != null">
                properties,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsSn != null">
                #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="sGoodsSn != null">
                #{sGoodsSn,jdbcType=VARCHAR},
            </if>
            <if test="specIdList != null">
                #{specIdList},
            </if>
            <if test="saleFlag != null">
                #{saleFlag},
            </if>
            <if test="stockNum != null">
                #{stockNum,jdbcType=INTEGER},
            </if>
            <if test="warnStockNum != null">
                #{warnStockNum,jdbcType=INTEGER},
            </if>
            <if test="costPrice != null">
                #{costPrice},
            </if>
            <if test="sellPrice != null">
                #{sellPrice},
            </if>
            <if test="weight != null">
                #{weight},
            </if>
            <if test="warnRatio != null">
                #{warnRatio},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="sortFlag != null">
                #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                #{properties,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.GoodsStock">
        update s_goods_stock
        <set>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="sGoodsSn != null">
                s_goods_sn = #{sGoodsSn,jdbcType=VARCHAR},
            </if>
            <if test="specIdList != null">
                spec_id_list = #{specIdList},
            </if>
            <if test="saleFlag != null">
                sale_flag = #{saleFlag,jdbcType=BIGINT},
            </if>
            <if test="stockNum != null">
                stock_num = #{stockNum,jdbcType=INTEGER},
            </if>
            <if test="warnStockNum != null">
                warn_stock_num = #{warnStockNum,jdbcType=INTEGER},
            </if>
            <if test="warnStock != null">
                warn_stock = #{warnStock,jdbcType=INTEGER},
            </if>
            <if test="costPrice != null">
                cost_price = #{costPrice},
            </if>
            <if test="sellPrice != null">
                sell_price = #{sellPrice},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="warnRatio != null">
                warn_ratio = #{warnRatio},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="sortFlag != null">
                sort_flag = #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                properties = #{properties,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>