<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.GoodsSupplyMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.GoodsSupply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="supply_name" property="supplyName" jdbcType="VARCHAR" />
    <result column="supply_tel" property="supplyTel" jdbcType="VARCHAR" />
    <result column="supply_mem" property="supplyMem" jdbcType="VARCHAR" />
    <result column="supply_addr" property="supplyAddr" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="sort_flag" property="sortFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.GoodsSupply" extends="BaseResultMap" >
    <result column="properties" property="properties" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, supply_name, supply_tel, supply_mem, supply_addr, delete_flag, DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time, DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time,
    sort_flag
  </sql>
  <sql id="Blob_Column_List" >
    properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_goods_supply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update s_goods_supply
    set delete_flag=1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertSelective" parameterType="com.cj.shop.api.entity.GoodsSupply" useGeneratedKeys="true" keyProperty="id">
    insert into s_goods_supply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplyName != null" >
        supply_name,
      </if>
      <if test="supplyTel != null" >
        supply_tel,
      </if>
      <if test="supplyMem != null" >
        supply_mem,
      </if>
      <if test="supplyAddr != null" >
        supply_addr,
      </if>
      <if test="sortFlag != null" >
        sort_flag,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplyName != null" >
        #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="supplyTel != null" >
        #{supplyTel,jdbcType=VARCHAR},
      </if>
      <if test="supplyMem != null" >
        #{supplyMem,jdbcType=VARCHAR},
      </if>
      <if test="supplyAddr != null" >
        #{supplyAddr,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectAllSupplyIds" resultType="Long">
    select id
    from s_goods_supply
    <where>
      1=1
      <if test="adminFlag != null">
        and delete_flag=0
      </if>
      <if test="supplyName != null">
        and supply_name like concat('%','${supplyName}','%')
      </if>
    </where>
    order by sort_flag desc
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.GoodsSupply" >
    update s_goods_supply
    <set >
      <if test="supplyName != null" >
        supply_name = #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="supplyTel != null" >
        supply_tel = #{supplyTel,jdbcType=VARCHAR},
      </if>
      <if test="supplyMem != null" >
        supply_mem = #{supplyMem,jdbcType=VARCHAR},
      </if>
      <if test="supplyAddr != null" >
        supply_addr = #{supplyAddr,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="sortFlag != null" >
        sort_flag = #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>