<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.GoodsScoresMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.GoodsScores" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="total_scores" property="totalScores" jdbcType="DECIMAL" />
    <result column="score_mem" property="scoreMem" jdbcType="INTEGER" />
    <result column="goods_score" property="goodsScore" jdbcType="DECIMAL" />
    <result column="server_score" property="serverScore" jdbcType="DECIMAL" />
    <result column="express_score" property="expressScore" jdbcType="DECIMAL" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.GoodsScores" extends="BaseResultMap" >
    <result column="properties" property="properties" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shop_id, goods_id, total_scores, score_mem, goods_score, server_score, express_score, 
    delete_flag, update_time, create_time
  </sql>
  <sql id="Blob_Column_List" >
    properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_goods_scores
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_goods_scores
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.cj.shop.api.entity.GoodsScores" >
    insert into s_goods_scores
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="totalScores != null" >
        total_scores,
      </if>
      <if test="scoreMem != null" >
        score_mem,
      </if>
      <if test="goodsScore != null" >
        goods_score,
      </if>
      <if test="serverScore != null" >
        server_score,
      </if>
      <if test="expressScore != null" >
        express_score,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="totalScores != null" >
        #{totalScores,jdbcType=DECIMAL},
      </if>
      <if test="scoreMem != null" >
        #{scoreMem,jdbcType=INTEGER},
      </if>
      <if test="goodsScore != null" >
        #{goodsScore,jdbcType=DECIMAL},
      </if>
      <if test="serverScore != null" >
        #{serverScore,jdbcType=DECIMAL},
      </if>
      <if test="expressScore != null" >
        #{expressScore,jdbcType=DECIMAL},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.GoodsScores" >
    update s_goods_scores
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="totalScores != null" >
        total_scores = #{totalScores,jdbcType=DECIMAL},
      </if>
      <if test="scoreMem != null" >
        score_mem = #{scoreMem,jdbcType=INTEGER},
      </if>
      <if test="goodsScore != null" >
        goods_score = #{goodsScore,jdbcType=DECIMAL},
      </if>
      <if test="serverScore != null" >
        server_score = #{serverScore,jdbcType=DECIMAL},
      </if>
      <if test="expressScore != null" >
        express_score = #{expressScore,jdbcType=DECIMAL},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>