<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.GoodsType">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="show_flag" property="showFlag" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="sort_flag" property="sortFlag" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.GoodsType" extends="BaseResultMap">
        <result column="properties" property="properties" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, parent_id, show_flag, type_name, delete_flag, update_time, create_time, sort_flag
  </sql>
    <sql id="Blob_Column_List">
    properties
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from s_goods_type
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_goods_type
    where id = #{id,jdbcType=BIGINT} or parent_id=#{id}
  </delete>

    <select id="selectAllTopsByParam" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from s_goods_type
        <where>
            1=1
            <if test="adminFlag == null">
                and show_flag=1
            </if>
            <if test="parentNullFlag != null">
                and parent_id is null
            </if>
            <if test="subQueryFlag != null">
                and parent_id = #{subQueryFlag}
            </if>
        </where>
        order by sort_flag desc
    </select>

    <select id="selectIds" resultType="Long">
        select
        id
        from s_goods_type
        <where>
            1=1
            <if test="adminFlag == null">
                and show_flag=1
            </if>
            <if test="parentNullFlag != null">
                and parent_id is null
            </if>
            <if test="subQueryFlag != null">
                and parent_id = #{subQueryFlag}
            </if>
        </where>
        order by sort_flag desc
    </select>

    <insert id="insertSelective" parameterType="com.cj.shop.api.entity.GoodsType" keyProperty="id"
            useGeneratedKeys="true">
        insert into s_goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="showFlag != null">
                show_flag,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="sortFlag != null">
                sort_flag,
            </if>
            <if test="properties != null">
                properties,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="showFlag != null">
                #{showFlag,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="sortFlag != null">
                #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                #{properties,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.GoodsType">
        update s_goods_type
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="showFlag != null">
                show_flag = #{showFlag,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="sortFlag != null">
                sort_flag = #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                properties = #{properties,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>