<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.Goods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_sn" property="goodsSn" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="supply_id" property="supplyId" jdbcType="BIGINT" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="shop_price" property="shopPrice" jdbcType="DECIMAL" />
    <result column="sale_count" property="saleCount" jdbcType="INTEGER" />
    <result column="book_flag" property="bookFlag" jdbcType="TINYINT" />
    <result column="stock_num" property="stockNum" jdbcType="INTEGER" />
    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
    <result column="warn_stock_flag" property="warnStockFlag" jdbcType="INTEGER" />
    <result column="sale_flag" property="saleFlag" jdbcType="INTEGER" />
    <result column="hot_flag" property="hotFlag" jdbcType="INTEGER" />
    <result column="new_flag" property="newFlag" jdbcType="INTEGER" />
    <result column="recommand_flag" property="recommandFlag" jdbcType="INTEGER" />
    <result column="best_flag" property="bestFlag" jdbcType="INTEGER" />
    <result column="recom_desc" property="recomDesc" jdbcType="VARCHAR" />
    <result column="first_type_id" property="firstTypeId" jdbcType="INTEGER" />
    <result column="second_type_id" property="secondTypeId" jdbcType="INTEGER" />
    <result column="third_type_id" property="thirdTypeId" jdbcType="INTEGER" />
    <result column="good_status" property="goodStatus" jdbcType="INTEGER" />
    <result column="preview_img" property="previewImg" jdbcType="VARCHAR" />
    <result column="team_buy_flag" property="teamBuyFlag" jdbcType="INTEGER" />
    <result column="second_goods_id" property="secondGoodsId" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="sort_flag" property="sortFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.GoodsWithBLOBs" extends="BaseResultMap" >
    <result column="good_desc" property="goodDesc" jdbcType="LONGVARCHAR" />
    <result column="key_words" property="keyWords" jdbcType="LONGVARCHAR" />
    <result column="properties" property="properties" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_sn, goods_name, brand_id, shop_id, supply_id, goods_title, market_price, shop_price,
    sale_count, book_flag, stock_num, warn_stock, warn_stock_flag, sale_flag, hot_flag, 
    new_flag, recommand_flag, best_flag, recom_desc, first_type_id, second_type_id, third_type_id, good_status,
    preview_img, team_buy_flag, second_goods_id, delete_flag, update_time, create_time, 
    sort_flag
  </sql>
  <sql id="Blob_Column_List" >
    good_desc, key_words, properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.cj.shop.api.entity.GoodsWithBLOBs" >
    insert into s_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsSn != null" >
        goods_sn,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="supplyId != null" >
        supply_id,
      </if>
      <if test="goodsTitle != null" >
        goods_title,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="shopPrice != null" >
        shop_price,
      </if>
      <if test="saleCount != null" >
        sale_count,
      </if>
      <if test="bookFlag != null" >
        book_flag,
      </if>
      <if test="stockNum != null" >
        stock_num,
      </if>
      <if test="warnStock != null" >
        warn_stock,
      </if>
      <if test="warnStockFlag != null" >
        warn_stock_flag,
      </if>
      <if test="saleFlag != null" >
        sale_flag,
      </if>
      <if test="hotFlag != null" >
        hot_flag,
      </if>
      <if test="newFlag != null" >
        new_flag,
      </if>
      <if test="recommandFlag != null" >
        recommand_flag,
      </if>
      <if test="bestFlag != null" >
        best_flag,
      </if>
      <if test="recomDesc != null" >
        recom_desc,
      </if>
      <if test="firstTypeId != null" >
        first_type_id,
      </if>
      <if test="secondTypeId != null" >
        second_type_id,
      </if>
      <if test="thirdTypeId != null" >
        third_type_id,
      </if>
      <if test="goodStatus != null" >
        good_status,
      </if>
      <if test="previewImg != null" >
        preview_img,
      </if>
      <if test="teamBuyFlag != null" >
        team_buy_flag,
      </if>
      <if test="secondGoodsId != null" >
        second_goods_id,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sortFlag != null" >
        sort_flag,
      </if>
      <if test="goodDesc != null" >
        good_desc,
      </if>
      <if test="keyWords != null" >
        key_words,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsSn != null" >
        #{goodsSn,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="supplyId != null" >
        #{supplyId,jdbcType=BIGINT},
      </if>
      <if test="goodsTitle != null" >
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPrice != null" >
        #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="saleCount != null" >
        #{saleCount,jdbcType=INTEGER},
      </if>
      <if test="bookFlag != null" >
        #{bookFlag,jdbcType=TINYINT},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="warnStock != null" >
        #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="warnStockFlag != null" >
        #{warnStockFlag,jdbcType=INTEGER},
      </if>
      <if test="saleFlag != null" >
        #{saleFlag,jdbcType=INTEGER},
      </if>
      <if test="hotFlag != null" >
        #{hotFlag,jdbcType=INTEGER},
      </if>
      <if test="newFlag != null" >
        #{newFlag,jdbcType=INTEGER},
      </if>
      <if test="recommandFlag != null" >
        #{recommandFlag,jdbcType=INTEGER},
      </if>
      <if test="bestFlag != null" >
        #{bestFlag,jdbcType=INTEGER},
      </if>
      <if test="recomDesc != null" >
        #{recomDesc,jdbcType=VARCHAR},
      </if>
      <if test="firstTypeId != null" >
        #{firstTypeId,jdbcType=INTEGER},
      </if>
      <if test="secondTypeId != null" >
        #{secondTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodStatus != null" >
        #{goodStatus,jdbcType=INTEGER},
      </if>
      <if test="previewImg != null" >
        #{previewImg,jdbcType=VARCHAR},
      </if>
      <if test="teamBuyFlag != null" >
        #{teamBuyFlag,jdbcType=INTEGER},
      </if>
      <if test="secondGoodsId != null" >
        #{secondGoodsId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="goodDesc != null" >
        #{goodDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=LONGVARCHAR},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.GoodsWithBLOBs" >
    update s_goods
    <set >
      <if test="goodsSn != null" >
        goods_sn = #{goodsSn,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="supplyId != null" >
        supply_id = #{supplyId,jdbcType=BIGINT},
      </if>
      <if test="goodsTitle != null" >
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPrice != null" >
        shop_price = #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="saleCount != null" >
        sale_count = #{saleCount,jdbcType=INTEGER},
      </if>
      <if test="bookFlag != null" >
        book_flag = #{bookFlag,jdbcType=TINYINT},
      </if>
      <if test="stockNum != null" >
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="warnStock != null" >
        warn_stock = #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="warnStockFlag != null" >
        warn_stock_flag = #{warnStockFlag,jdbcType=INTEGER},
      </if>
      <if test="saleFlag != null" >
        sale_flag = #{saleFlag,jdbcType=INTEGER},
      </if>
      <if test="hotFlag != null" >
        hot_flag = #{hotFlag,jdbcType=INTEGER},
      </if>
      <if test="newFlag != null" >
        new_flag = #{newFlag,jdbcType=INTEGER},
      </if>
      <if test="recommandFlag != null" >
        recommand_flag = #{recommandFlag,jdbcType=INTEGER},
      </if>
      <if test="bestFlag != null" >
        best_flag = #{bestFlag,jdbcType=INTEGER},
      </if>
      <if test="recomDesc != null" >
        recom_desc = #{recomDesc,jdbcType=VARCHAR},
      </if>
      <if test="firstTypeId != null" >
        first_type_id = #{firstTypeId,jdbcType=INTEGER},
      </if>
      <if test="secondTypeId != null" >
        second_type_id = #{secondTypeId,jdbcType=INTEGER},
      </if>
      <if test="thirdTypeId != null" >
        third_type_id = #{thirdTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodStatus != null" >
        good_status = #{goodStatus,jdbcType=INTEGER},
      </if>
      <if test="previewImg != null" >
        preview_img = #{previewImg,jdbcType=VARCHAR},
      </if>
      <if test="teamBuyFlag != null" >
        team_buy_flag = #{teamBuyFlag,jdbcType=INTEGER},
      </if>
      <if test="secondGoodsId != null" >
        second_goods_id = #{secondGoodsId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="sortFlag != null" >
        sort_flag = #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="goodDesc != null" >
        good_desc = #{goodDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyWords != null" >
        key_words = #{keyWords,jdbcType=LONGVARCHAR},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>