<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.IpAddressMapper">
    <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.IpAllow">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ip" property="ip"/>
        <result column="enabled" property="enabled"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ip, enabled,update_time,create_time
  </sql>

    <update id="deleteByIpAddress">
        update  s_ip_allow
        set enabled = #{enabled}
        where ip=#{ip}
    </update>

    <select id="selectByIp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_ip_allow
        <where>
            1=1
            and ip = #{ip}
            <if test="type == 1">
                and enabled=1
            </if>
        </where>
    </select>

    <select id="getIpAllowedList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_ip_allow
    </select>

    <insert id="addIpRecord" parameterType="com.cj.shop.api.entity.IpAllow">
        insert into s_ip_allow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ip != null">
                ip,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ip != null">
                #{ip},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>
        </trim>
    </insert>
</mapper>