<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.OrderWithBLOBs">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="order_num" property="orderNum" jdbcType="VARCHAR"/>
        <result column="order_name" property="orderName" jdbcType="VARCHAR"/>
        <result column="preview_img" property="previewImg" jdbcType="VARCHAR"/>
        <result column="close_time" property="closeTime"/>
        <result column="order_price" property="orderPrice" jdbcType="DECIMAL"/>
        <result column="order_status" property="orderStatus" jdbcType="TINYINT"/>
        <result column="delivery_cash" property="deliveryCash" jdbcType="DECIMAL"/>
        <result column="delivery_protect" property="deliveryProtect" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="sort_flag" property="sortFlag" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.OrderWithBLOBs" extends="BaseResultMap">
        <result column="goods_list" property="goodsList" jdbcType="LONGVARCHAR"/>
        <result column="properties" property="properties" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, shop_id, uid, order_num, order_name, preview_img, close_time, order_price, order_status,
    delivery_cash, delivery_protect, delete_flag, DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time,
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time, sort_flag
  </sql>
    <sql id="Blob_Column_List">
    goods_list, properties
  </sql>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
    select
    t1.id,
    1 as shopId,
    '珑讯自营' as shopName,
    t1.uid,
    t1.order_num as orderNum,
    t1.order_price as orderPrice,
    t1.order_status as orderStatus,
    t1.delivery_cash as deliveryCash,
    t1.delivery_protect as deliveryProtect,
    t1.delete_flag as deleteFlag,
    t1.close_time as closeTime,
    DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') as update_time,
    DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as create_time,
    from s_order t1
    where t1.id = #{id}
  </select>

    <select id="selectByOrderNum" resultType="com.cj.shop.api.response.dto.OrderDto" parameterType="java.lang.Long">
    select
    t1.id,
    1 as shopId,
    '珑讯自营' as shopName,
    t1.uid,
    t1.order_num as orderNum,
    t1.order_price as orderPrice,
    t1.order_status as orderStatus,
    t1.delivery_cash as deliveryCash,
    t1.delivery_protect as deliveryProtect,
    t1.delete_flag as deleteFlag,
    t1.goods_list as goodsListJson,
    t1.close_time as closeTime,
    DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') as update_time,
    DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') as create_time
    from s_order t1
    where t1.order_num = #{orderNum}
    <if test="uid != null">
        and t1.uid=#{uid}
    </if>
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.cj.shop.api.entity.OrderWithBLOBs" useGeneratedKeys="true"
            keyProperty="id">
        insert into s_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="orderName != null">
                order_name,
            </if>
            <if test="previewImg != null">
                preview_img,
            </if>
            <if test="closeTime != null">
                close_time,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="deliveryCash != null">
                delivery_cash,
            </if>
            <if test="deliveryProtect != null">
                delivery_protect,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="sortFlag != null">
                sort_flag,
            </if>
            <if test="goodsList != null">
                goods_list,
            </if>
            <if test="properties != null">
                properties,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="orderName != null">
                #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="previewImg != null">
                #{previewImg,jdbcType=VARCHAR},
            </if>
            <if test="closeTime != null">
                #{closeTime},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="deliveryCash != null">
                #{deliveryCash,jdbcType=DECIMAL},
            </if>
            <if test="deliveryProtect != null">
                #{deliveryProtect,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="sortFlag != null">
                #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="goodsList != null">
                #{goodsList,jdbcType=LONGVARCHAR},
            </if>
            <if test="properties != null">
                #{properties,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.OrderWithBLOBs">
        update s_order
        <set>
            <if test="orderName != null">
                order_name = #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="previewImg != null">
                preview_img = #{previewImg,jdbcType=VARCHAR},
            </if>
            <if test="closeTime != null">
                close_time = #{closeTime},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="deliveryCash != null">
                delivery_cash = #{deliveryCash,jdbcType=DECIMAL},
            </if>
            <if test="deliveryProtect != null">
                delivery_protect = #{deliveryProtect,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="sortFlag != null">
                sort_flag = #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                properties = #{properties,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByOrderNum" parameterType="com.cj.shop.api.entity.OrderWithBLOBs">
        update s_order
        <set>
            <if test="orderName != null">
                order_name = #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="previewImg != null">
                preview_img = #{previewImg,jdbcType=VARCHAR},
            </if>
            <if test="closeTime != null">
                close_time = #{closeTime},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="deliveryCash != null">
                delivery_cash = #{deliveryCash,jdbcType=DECIMAL},
            </if>
            <if test="deliveryProtect != null">
                delivery_protect = #{deliveryProtect,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="sortFlag != null">
                sort_flag = #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="properties != null">
                properties = #{properties,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where order_num = #{orderNum}
    </update>
</mapper>