<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.PayLogMapper">
    <resultMap id="BaseResultMap" type="com.cj.shop.api.response.dto.PayLogDto">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="trade_no" property="tradeNo" />
        <result column="plat_trade_no" property="platTradeNo" />
        <result column="order_num" property="orderNum" />
        <result column="pay_type" property="payType" />
        <result column="pay_status" property="payStatus" />
        <result column="total_price" property="totalPrice" />
        <result column="pay_time" property="payTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="properties" property="properties" />
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, trade_no, plat_trade_no, order_num, pay_type,
    pay_status,
    total_price,
    DATE_FORMAT(pay_time,'%Y-%m-%d %H:%i:%s') as pay_time,
    DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time,
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time,
    properties
  </sql>

    <select id="getDetailLog" parameterType="Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM s_pay_log
        where id=#{id}
        order by update_time desc,create_time desc
    </select>
    <select id="getAllLogIds" parameterType="com.cj.shop.api.param.select.PayLogSelect" resultType="Long">
        select id
        from s_pay_log
        <where>
            1=1
            <if test="orderNum != null">
                and order_num = #{orderNum}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="status != null">
                and pay_status = #{status}
            </if>
        </where>
        order by create_time desc,update_time desc
    </select>
    <insert id="insertPayLog" parameterType="com.cj.shop.api.response.dto.PayLogDto" useGeneratedKeys="true"
            keyProperty="id">
        insert into s_pay_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="tradeNo != null">
                trade_no,
            </if>
            <if test="platTradeNo != null">
                plat_trade_no,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payStatus != null">
                pay_status,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="properties != null">
                properties,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="tradeNo != null">
                #{tradeNo},
            </if>
            <if test="platTradeNo != null">
                #{platTradeNo},
            </if>
            <if test="orderNum != null">
                #{orderNum},
            </if>
            <if test="payType != null">
                #{payType},
            </if>
            <if test="payStatus != null">
                #{payStatus},
            </if>
            <if test="totalPrice != null">
                #{totalPrice},
            </if>
            <if test="payTime != null">
                #{payTime},
            </if>
            <if test="properties != null">
                #{properties},
            </if>
        </trim>
    </insert>

</mapper>