<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.scores.dao.mapper.ScoresMapper">
    <select id="isExistTable" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT table_name FROM information_schema.TABLES WHERE table_name =#{tableName}
  </select>

    <update id="createScoresLogTable" parameterType="java.lang.String">
    CREATE TABLE `${tableName}` (
      `id` varchar(40)  NOT NULL  COMMENT '主键',
      `uid` bigint(16) NOT NULL COMMENT '用户中心id',
      `from_scores` decimal(11,2) NOT NULL COMMENT '起始积分',
      `scores` decimal(11,2) NOT NULL COMMENT '当前积分',
      `order_no` varchar(50) NOT NULL COMMENT '订单号',
      `change_scores` decimal(11,2) NOT NULL COMMENT '变化积分',
      `type` varchar(50) NOT NULL COMMENT '1=收入 2=支出 3=冻结',
      `src_id` int(11) NOT NULL COMMENT '来源ID',
      `comment` varchar(255)  COMMENT '描述',
      `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
      PRIMARY KEY (`id`),
      KEY(`src_id`),
      UNIQUE KEY `src_no_uk` (`order_no`,`src_id`) USING BTREE
    ) ENGINE=InnoDB  DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC COMMENT='积分日志表'
  </update>

    <insert id="insertUserScores" parameterType="com.cj.scores.api.pojo.UserScores">
        insert into t_user_scores
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="totalScores != null">
                total_scores,
            </if>
            <if test="scores != null">
                scores,
            </if>
            <if test="lockScores != null">
                lock_scores,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid},
            </if>
            <if test="totalScores != null">
                #{totalScores},
            </if>
            <if test="scores != null">
                #{scores},
            </if>
            <if test="lockScores != null">
                #{lockScores},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>


    <update id="updateUserScores" parameterType="com.cj.scores.api.pojo.UserScores">
        update t_user_scores
        <set>
            <if test="totalScores != null">
                total_scores=#{totalScores},
            </if>
            <if test="scores != null">
                scores = #{scores},
            </if>
            <if test="lockScores != null">
                lock_scores=#{lockScores},
            </if>
            <if test="enabled != null">
                enabled=#{enabled},
            </if>
            <if test="version != null">
                version=version + 1,
            </if>
        </set>
        where uid =#{uid} and version=#{version}
    </update>


    <insert id="insertScoresLog" parameterType="com.cj.scores.api.pojo.InsertScoresLog"
     useGeneratedKeys="true" keyProperty="id">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="fromScores != null">
                from_scores,
            </if>
            <if test="scores != null">
                scores,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="changeScores != null">
                change_scores,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="srcId != null">
                src_id,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="uid != null">
                #{uid},
            </if>
            <if test="fromScores != null">
                #{fromScores},
            </if>
            <if test="scores != null">
                #{scores},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="changeScores != null">
                #{changeScores},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="srcId != null">
                #{srcId},
            </if>
            <if test="comment != null">
                #{comment},
            </if>
        </trim>
    </insert>

    <select id="selectScoresById" parameterType="java.lang.Long" resultType="com.cj.scores.api.pojo.UserScores">
        select
        uid,
        total_scores as totalScores,
        scores,
        lock_scores as lockScores,
        enabled,
        properties,
        DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as updateTime,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        version
        from t_user_scores
        where uid = #{uid}
    </select>

    <select id="getScoreLogDetail" parameterType="com.cj.scores.api.pojo.select.ScoreLogSelect"
            resultType="com.cj.scores.api.dto.UserScoreLogDto"
    >
        select
        id,
        uid,
        from_scores as fromScores,
        scores,
        order_no as orderNo,
        change_scores as changeScores,
        type,
        src_id as srcId,
        comment,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as createTime
        from ${table}
        where uid=#{uid}
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="order_no != null">
            and order_no = #{order_no}
        </if>
        <if test="src_id != null">
            and src_id = #{src_id}
        </if>
        order by create_time desc
    </select>

    <select id="getScoreLogDetailByid" parameterType="String"
            resultType="com.cj.scores.api.dto.UserScoreLogDto"
    >
        select
        id,
        uid,
        from_scores as fromScores,
        scores,
        change_scores as changeScores,
        type,
        src_id as srcId,
        comment,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as createTime
        from ${table}
        where uid=#{uid} and id =#{id}
        order by create_time desc
    </select>

    <select id="selectAllScores" parameterType="com.cj.scores.api.pojo.select.ScoreSelect" resultType="Long">
        select uid
        from t_user_scores
        <where>
            1=1
        <if test="uid != null">
          and uid = #{uid}
        </if>
        <if test="start_time != null">
            and create_time >= #{start_time}
        </if>
        <if test="end_time != null">
            and create_time &lt;= #{end_time}
        </if>
        </where>
        <if test="sort_flag == null">
            order by create_time desc
        </if>
        <if test="sort_flag == 1">
            order by scores desc
        </if>
        <if test="sort_flag == 2">
            order by scores asc
        </if>
    </select>




</mapper>