<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.UserCartMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.UserCart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="s_goods_num" property="sGoodsNum" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="sort_flag" property="sortFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.UserCart" extends="BaseResultMap" >
    <result column="properties" property="properties" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, goods_id, goods_num, s_goods_num, batch_no, DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time,
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time, sort_flag
  </sql>
  <sql id="Blob_Column_List" >
    properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_user_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_user_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.cj.shop.api.entity.UserCart" useGeneratedKeys="true" keyProperty="id">
    insert into s_user_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsNum != null" >
        goods_num,
      </if>
      <if test="sGoodsNum != null" >
        s_goods_num,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="sortFlag != null" >
        sort_flag,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsNum != null" >
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="sGoodsNum != null" >
        #{sGoodsNum,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=INTEGER},
      </if>
      <if test="sortFlag != null" >
        #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.UserCart" >
    update s_user_cart
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsNum != null" >
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="sGoodsNum != null" >
        s_goods_num = #{sGoodsNum,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        sort_flag = #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>