<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.shop.dao.mapper.UserBonusMapper" >
  <resultMap id="BaseResultMap" type="com.cj.shop.api.entity.UserBonus" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="scores" property="scores" jdbcType="BIGINT" />
    <result column="spended_scores" property="spendedScores" jdbcType="BIGINT" />
    <result column="lock_scores" property="lockScores" jdbcType="BIGINT" />
    <result column="total_scores" property="totalScores" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="sort_flag" property="sortFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cj.shop.api.entity.UserBonus" extends="BaseResultMap" >
    <result column="properties" property="properties" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, scores, spended_scores, lock_scores, total_scores, update_time, create_time, 
    sort_flag
  </sql>
  <sql id="Blob_Column_List" >
    properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_user_bonus
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_user_bonus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.cj.shop.api.entity.UserBonus" >
    insert into s_user_bonus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="scores != null" >
        scores,
      </if>
      <if test="spendedScores != null" >
        spended_scores,
      </if>
      <if test="lockScores != null" >
        lock_scores,
      </if>
      <if test="totalScores != null" >
        total_scores,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sortFlag != null" >
        sort_flag,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="scores != null" >
        #{scores,jdbcType=BIGINT},
      </if>
      <if test="spendedScores != null" >
        #{spendedScores,jdbcType=BIGINT},
      </if>
      <if test="lockScores != null" >
        #{lockScores,jdbcType=BIGINT},
      </if>
      <if test="totalScores != null" >
        #{totalScores,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.shop.api.entity.UserBonus" >
    update s_user_bonus
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="scores != null" >
        scores = #{scores,jdbcType=BIGINT},
      </if>
      <if test="spendedScores != null" >
        spended_scores = #{spendedScores,jdbcType=BIGINT},
      </if>
      <if test="lockScores != null" >
        lock_scores = #{lockScores,jdbcType=BIGINT},
      </if>
      <if test="totalScores != null" >
        total_scores = #{totalScores,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        sort_flag = #{sortFlag,jdbcType=INTEGER},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>